<%
  if (!hash) {
    return;
  }

  const shortSha = hash && hash.slice(0, 7);

  const badgeColor = {
    feat: 'blue',
    fix: 'green',
    perf: 'brightgreen',
    refactor: 'yellowgreen',
    style: '9cf',
    test: 'important',
    chore: 'lightgrey',
    docs: 'ff69b4'
  };
%>
<tr>
  <%# Commit: %>
  <td><%
  if (shortSha) {
    %>
<a href="https://github.com/SAP/spartacus/commit/<%= hash %>"><img
   align="top" src="https://img.shields.io/badge/<%= shortSha %>-<%= type %>-<%= badgeColor[type] %>.svg" />
</a><%
  } %>
  </td>

  <%# Desc: %>
  <td><%= subject %></td>

  <%# Notes: %>
  <td><%
      for (const reference of references) {
        if (!reference.action || !reference.issue) {
          continue;
        }

        const issue = reference.issue;
        const owner = reference.owner || 'SAP';
        const repository = reference.repository || 'spartacus';
        %>

<a href="https://github.com/<%= owner %>/<%= repository %>/issues/<%= issue %>">
  [Closes #<%= issue %>]<br />
</a>
  <% } %>
  </td>
</tr>